p Details go here.

each value, key in details
  dl
    dt= key
    if typeof value === "object"
      each v in value
        if v.id
          dd: a(href="/#{key}/#{v.id}")= v.name
        else
          dd= v
    else
      dd= value