extends ../base

block body
    p= properties.name

    table
        each value, key in properties
            if typeof(value) === 'object'
                each subval, subkey in value
                    tr
                        th= key + '.' + subkey
                        td= subval
            else
                tr
                    th= key
                    td= value

